body {
  background-color: #2ECCFA;
}

.title {
  text-align: center;
  font-weight: bold;
  font-family: "Helvetica Neue";
}

.tweets {
  background-color: white;
  font-family: "Helvetica Neue";
  border: 5px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
}

.user {
  font-size: 12px;
  position: relative;
  bottom: 0;
  left: 0;
  border: 0;
  padding: 0;
  margin: 0;
}


a {
  color:blue;
}
