body {
  background-color: #2ECCFA;
}

.shawndrosttweets, .mracustweets, .sharksforcheaptweets, .douglascalhountweets {
  display: none;
}
.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #9fb4f2;
	-webkit-box-shadow: 0px 1px 0px 0px #9fb4f2;
	box-shadow: 0px 1px 0px 0px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 76px;
	text-decoration:none;
	text-shadow:0px -1px 0px #283966;
  margin: 0 15px 0 15px;
  width: 87%;
  text-align: center;

}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}



.title {
  text-align: center;
  font-weight: bold;
  font-family: "Helvetica Neue";
}

.tweets {
  background-color: white;
  font-family: "Helvetica Neue";
  border: 5px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
}

.shawndrosttweets .tweets, .mracustweets .tweets, .sharksforcheaptweets .tweets, .douglascalhountweets .tweets {
  background-color: white;
  margin: 0 15px 0 15px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  border-radius: 0px;
}

.user {
  font-size: 12px;
  position: relative;
  bottom: 0;
  left: 0;
  border: 0;
  padding: 0;
  margin: 0;
}


a {
  color:blue;
}
